@import url("../variables.css");

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


.no-padding {
  padding: 0px !important;
}

.white-text {
  color: white !important;
  margin-top: 30px;
}

.navbar-size {
  height: 150px;
  background-color: var(--header-top);
}
.offcanvas-top {
  background-color: var(--header-top);
}
.nav1 {
  width: 100vw;
  height: 100px;
  background-color: var(--header-top);
  flex-flow: column;
}
.nav2 {
  width: 100vw;
  height: 50px;
  background-color: var(--lower-nav);
}
.btn-search {
  background-color: var(--header-top);
  color: white !important;
  border: 1px solid white !important;
  flex-flow: column;
}


html {
  font-size: 14px;
}
header {
  height: 150px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.NonOffCanvas {
  display: block;
}

@media screen and (max-width: 576px) {
  .NonOffCanvas {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav3 {
    display: hidden;
  }
}
@media screen and (max-width: 767px) {
  .hidden {
    display: none !important;
  }
  header {
    height: 50px;
  }
  .navbar-size {
    height: 50px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
